html{
    scroll-behavior: smooth;
}

#footer .input-group>.input-group-addon {
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.social-gplus:hover {
    background-color: rgb(209, 44, 80) !important;
}

.social-linkedin:hover {
    background-color: rgb(21, 185, 29) !important;
}

.container .row .col-md-4 {
    padding-left: 3rem;
}

.need-help-online {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
}

.solutions-hairgrow {
    display: flex;
    justify-content: center;
}

.container .row .col-md-4 {
    padding-left: 1rem;
}

.cart-remove {
    animation: fadeOut 0.5s ease forwards;
}

/* .remove_item {
    display: inline-block;
    color: #999;
    font-size: 16px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
    z-index: 999999999999999;
}

.remove_item:hover {
    color: #ff0000;
} */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


@media(max-width:568px) {
    .shrds {
        display: none;
    }

    .startShoppingButton {
        top: 130px !important;
    }

    .thickerFullerHealthier {
        display: none;
    }
}

/********************************************* Modal *********************************************/

.popup {
    width: 400px;
    background: rgb(243, 243, 243);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    transition: .3s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.cdsp{
    margin: 30px 0 10px;
}

.cdspContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 1px; */
    font-weight: 700;
}

.cdspContainer span{
    font-size: 1.5rem;
}

.popup button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}